@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body, html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.active {
  color: #CD97FF !important;
}
.active::after {
  content: " " !important;
  width: 100% !important;
  height: 2px !important;
  background-color: #CD97FF !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
}

.c-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background: rgb(66, 1, 95);
  background: linear-gradient(180deg, rgb(66, 1, 95) 0%, rgb(7, 7, 24) 96%);
}
.c-header .c-header__nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #CD97FF;
}
.c-header .c-header__nav .c-header__link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  position: relative;
}
.c-header .c-header__div {
  color: #ffffff;
  padding-left: 0.5rem;
}
.c-header .c-header__div .c-header__title {
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-size: 26px;
  display: block;
}
.c-header .c-header__div .c-header__title .c-header__title--emphasis {
  color: #CD97FF;
}
.c-header .c-header__div .c-header__title .c-header__title--emphasis::after {
  color: #ffffff;
  font-weight: lighter;
  content: "|";
  animation: blink 0.7s infinite;
}
.c-header .c-header__div .c-header__description {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  margin-top: 1rem;
  max-width: 360px;
}
.c-header .c-header__buttons {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  color: #ffffff;
  gap: 1rem;
  padding-left: 0.5rem;
}
.c-header .c-header__buttons .c-header__download {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 160px;
  border: 2px solid #CD97FF;
  background-color: transparent;
  font-size: 1rem;
  color: #CD97FF;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
}
.c-header .c-header__buttons i {
  color: #CD97FF;
  font-size: 30px;
  cursor: pointer;
}

.c-main {
  width: 100%;
  background-color: #070718;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.c-main .c-main__secTech {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c-main .c-main__secTech .c-main__title {
  margin-top: 60px;
  font-family: "Akshar", sans-serif;
  font-weight: bold;
  color: #212121;
  font-size: 55px;
  text-align: center;
  width: 100%;
  position: relative;
}
.c-main .c-main__secTech .c-main__title--h2 {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.c-main .c-main__secTech .c-main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 1rem;
}
.c-main .c-main__secTech .c-main__cards .c-main__cardTech {
  width: 140px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.c-main .c-main__secTech .c-main__cards .c-main__cardTech--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  border: 2px solid #CD97FF;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.c-main .c-main__secTech .c-main__cards .c-main__cardTech--icon img {
  width: 85px;
  height: 85px;
}
.c-main .c-main__secTech .c-main__cards .c-main__cardTech--tech {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 14px;
}
.c-main .c-main__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.c-main .c-main__projects .c-main__title {
  margin-top: 60px;
  font-family: "Akshar", sans-serif;
  font-weight: bold;
  color: #212121;
  font-size: 55px;
  text-align: center;
  width: 100%;
  position: relative;
}
.c-main .c-main__projects .c-main__title--h2 {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.c-main .c-main__projects .c-main__menu {
  display: flex;
  gap: 1rem;
  background-color: #212121;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.c-main .c-main__projects .c-main__menu span {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  padding: 0 5px 2px;
}
.c-main .c-main__projects .c-main__listProject {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem 1rem;
}
.c-main .c-main__projects .c-main__listProject .c-main__cardProject {
  line-height: 1.5rem;
}
.c-main .c-main__projects .c-main__listProject .c-main__cardProject .c-main__preview {
  border: 2px solid #CD97FF;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.7rem;
}
.c-main .c-main__projects .c-main__listProject .c-main__cardProject .c-main__preview img {
  width: 100%;
  max-width: 310px;
}
.c-main .c-main__projects .c-main__listProject .c-main__cardProject .c-main__category {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #6b6b6b;
}
.c-main .c-main__projects .c-main__listProject .c-main__cardProject .c-main__titleProject {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1rem;
}
.c-main .c-main__projects .c-main__listProject .c-main__cardProject .c-main__links {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.7rem;
}
.c-main .c-main__projects .c-main__listProject .c-main__cardProject .c-main__links a {
  color: #CD97FF;
  font-size: 1.5rem;
}

@media (min-width: 375px) {
  .c-header {
    justify-content: center;
    align-items: center;
  }
  .c-header .c-header__div {
    width: 95%;
  }
  .c-header .c-header__div .c-header__title {
    font-size: 30px;
  }
  .c-header .c-header__div .c-header__description {
    font-size: 1.2rem;
  }
  .c-header .c-header__buttons {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .c-header .c-header__nav {
    justify-content: end;
    gap: 0.5rem;
    padding-right: 4rem;
  }
  .c-header .c-header__nav .c-header__link {
    font-size: 1rem;
    position: relative;
    padding: 0 40px 5px 1px;
  }
  .c-header .c-header__nav .c-header__link::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #CD97FF;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
  }
  .c-header .c-header__nav .c-header__link:hover::after {
    width: 100%;
  }
  .c-header .c-header__div {
    width: 85%;
  }
  .c-header .c-header__div .c-header__title {
    font-size: 50px;
  }
  .c-header .c-header__div .c-header__description {
    font-size: 1.3rem;
    max-width: 600px;
  }
  .c-header .c-header__buttons {
    width: 85%;
    margin-top: 2.5rem;
  }
  .c-header .c-header__buttons .c-header__download {
    width: 185px;
    height: 50px;
    font-size: 20px;
    transition: 0.5s ease-in-out;
  }
  .c-header .c-header__buttons .c-header__download:hover {
    scale: 1.1;
    color: #ffffff;
    border-color: #ffffff;
  }
  .c-header .c-header__buttons a i {
    font-size: 40px;
    transition: 0.5s ease-in-out;
  }
  .c-header .c-header__buttons a i:hover {
    scale: 1.4;
    color: #ffffff;
  }
  .c-main .c-main__secTech .c-main__cards {
    grid-template-areas: "item1 item2 item3 item4" "item5 item6 item7 item8" "item9 item9 item10 item10";
  }
  .c-main .c-main__secTech .item1 {
    grid-area: item1;
  }
  .c-main .c-main__secTech .item2 {
    grid-area: item2;
  }
  .c-main .c-main__secTech .item3 {
    grid-area: item3;
  }
  .c-main .c-main__secTech .item4 {
    grid-area: item4;
  }
  .c-main .c-main__secTech .item5 {
    grid-area: item5;
  }
  .c-main .c-main__secTech .item6 {
    grid-area: item6;
  }
  .c-main .c-main__secTech .item7 {
    grid-area: item7;
  }
  .c-main .c-main__secTech .item8 {
    grid-area: item8;
  }
  .c-main .c-main__secTech .item9 {
    grid-area: item9;
    justify-self: end;
  }
  .c-main .c-main__secTech .item10 {
    grid-area: item10;
  }
  .c-main .c-main__projects {
    padding: 0 4rem;
  }
  .c-main .c-main__projects .c-main__menu input {
    cursor: pointer;
  }
  .c-main .c-main__projects .c-main__listProject {
    grid-template-columns: 1fr 1fr;
  }
  .c-main .c-main__projects .c-main__listProject .c-main__cardProject .c-main__links a {
    transition: 0.5s ease-in-out;
  }
  .c-main .c-main__projects .c-main__listProject .c-main__cardProject .c-main__links a:hover {
    scale: 1.4;
    color: #ffffff;
  }
}
@media (min-width: 1024px) {
  .c-header .c-header__div {
    width: 75%;
  }
  .c-header .c-header__div .c-header__title {
    font-size: 64px;
  }
  .c-header .c-header__div .c-header__description {
    font-size: 25px;
  }
  .c-header .c-header__buttons {
    width: 75%;
  }
  .c-main .c-main__secTech .c-main__title {
    font-family: "Akshar", sans-serif;
    font-weight: bold;
    color: #212121;
    font-size: 90px;
    text-align: center;
    width: 100%;
    position: relative;
  }
  .c-main .c-main__secTech .c-main__title--h2 {
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-size: 38px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  .c-main .c-main__secTech .c-main__cards {
    grid-template-areas: "item1 item2 item3 item4 item5" "item6 item7 item8 item9 item10";
    gap: 20px;
  }
  .c-main .c-main__secTech .c-main__cards .c-main__cardTech {
    width: 160px;
    transition: 0.5s ease-in-out;
  }
  .c-main .c-main__secTech .c-main__cards .c-main__cardTech:hover {
    font-weight: bold;
    color: #CD97FF;
    scale: 1.1;
  }
  .c-main .c-main__secTech .c-main__cards .c-main__cardTech:hover .c-main__cardTech--icon img {
    filter: saturate(100%);
  }
  .c-main .c-main__secTech .c-main__cards .c-main__cardTech--icon {
    height: 160px;
  }
  .c-main .c-main__secTech .c-main__cards .c-main__cardTech--icon img {
    width: 96px;
    height: 96px;
    filter: saturate(20%);
    transition: 0.5s ease-in-out;
  }
  .c-main .c-main__secTech .c-main__cards .c-main__cardTech--tech {
    font-size: 1rem;
  }
  .c-main .c-main__projects .c-main__title {
    font-family: "Akshar", sans-serif;
    font-weight: bold;
    color: #212121;
    font-size: 90px;
    text-align: center;
    width: 100%;
    position: relative;
  }
  .c-main .c-main__projects .c-main__title--h2 {
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;
    font-size: 38px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  .c-main .c-main__projects .c-main__menu input {
    font-size: 1.1rem;
  }
}
@media (min-width: 1440px) {
  .c-main .c-main__projects .c-main__listProject {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
