@import "./variables.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html{
  width: 100%;
  height: 100%;
}

.c-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $main-color;
  background-image: url("../images/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product.jpg");
  background-size: cover;
  background-position: center center;

  .c-header__nav{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #00000033;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .c-header__link{
      text-decoration: none;
      color: #ffffff;
      font-family: $roboto;
      font-weight: normal;
      font-size: .9rem;
    }
  }

  .c-header__div{
    color: #ffffff;
    padding-left: .5rem;

    .c-header__title{
      font-family: $ubuntu;
      font-weight: normal;
      font-size: 26px;

      &--emphasis{
        color: $secondary-color;
      }
    }

    .c-header__description{
      font-family: $roboto;
      font-weight: lighter;
      font-size: 1rem;
      margin-top: 1rem;
      max-width: 360px;
    }

  }

  .c-header__buttons{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    color: #ffffff;
    gap: 1rem;
    padding-left: .5rem;

    button{
      height: 40px;
      width: 160px;
      border: 2px solid $secondary-color;
      background-color: transparent;
      font-size: 1rem;
      color: $secondary-color;
      font-family: $roboto;
      font-weight: normal;
      cursor: pointer;
    }

    i{
      color: $secondary-color;
      font-size: 30px;
      cursor: pointer;
    }
  }
}

.c-main{
  width: 100%;
  background-color: $main-color;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 30px;

  .c-main__secTech{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .c-main__title{
      font-family: $akshar;
      font-weight: bold;
      color: $font-color;
      font-size: 55px;
      text-align: center;
      width: 100%;
      position: relative;


      &--h2{
        color: #ffffff;
        font-family: $ubuntu;
        font-size: 25px;
        font-weight: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
      }
    }

    .c-main__cards{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem 1rem;

      .c-main__cardTech{
        width: 140px;
        text-align: center;

        &--icon{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 140px;
          border: 2px solid $secondary-color;
          border-radius: 10px;
          margin-bottom: .5rem;

          img{
            width: 85px;
            height: 85px;
          }
        }

        &--tech{
          font-family: $roboto;
          font-weight: lighter;
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 375px) {
  .c-header{
    justify-content: center;
    align-items: center;
    .c-header__div{
      width: 95%;
      .c-header__title{
        font-size: 30px;
      }

      .c-header__description{
        font-size: 1.2rem;
      }
    }

    .c-header__buttons{
      width: 95%;
    }

  }
}

@media (min-width: 768px) {
  .c-header{
    .c-header__nav{
      justify-content: end;
      gap: 2.5rem;
      padding-right: 4rem;

      .c-header__link{
        font-size: 1rem;
      }
    }

    .c-header__div{
      width: 85%;
      .c-header__title{
        font-size: 50px;
      }

      .c-header__description{
        font-size: 1.3rem;
        max-width: 600px;
      }

    }

    .c-header__buttons{
      width: 85%;
      margin-top: 2.5rem;
      button{
        width: 185px;
        height: 50px;
        font-size: 20px;
      }

      i{
        font-size: 40px;
      }
    }
  }

  .c-main{
    .c-main__secTech{
      .c-main__cards{
        grid-template-areas: 
          "item1 item2 item3 item4"
          "item5 item6 item7 item8"
          "item9 item9 item10 item10"
        ;
      }

      .item1{
        grid-area: item1;
      }

      .item2{
        grid-area: item2;
      }

      .item3{
        grid-area: item3;
      }

      .item4{
        grid-area: item4;
      }

      .item5{
        grid-area: item5;
      }

      .item6{
        grid-area: item6;
      }

      .item7{
        grid-area: item7;
      }

      .item8{
        grid-area: item8;
      }

      .item9{
        grid-area: item9;
        justify-self: end;
      }

      .item10{
        grid-area: item10;
      }
    }
  }
}

@media (min-width: 1024px) {
  .c-header{
    .c-header__div{
      width: 75%;
      .c-header__title{
        font-size: 64px;
      }

      .c-header__description{
        font-size: 25px;
      }
    }

    .c-header__buttons{
      width: 75%;
    }
  }

  .c-main{
    .c-main__secTech{
      .c-main__title{
        font-size: 90px;

        &--h2{
          font-size: 38px;
        }
      }

      .c-main__cards{
        grid-template-areas: 
        "item1 item2 item3 item4 item5"
        "item6 item7 item8 item9 item10"
        ;
        gap: 20px;

        .c-main__cardTech{
          width: 160px;

          &--icon{
            height: 160px;

            img{
              width: 96px;
              height: 96px;
              filter: saturate(30%);
            }
          }

          &--tech{
            font-size: 1rem;
          }
        }
      }
    }
  }
}