@font-face{
  font-family: "Akshar";
  src: url(../fonts/Akshar-Bold.ttf) format(truetype);
}

@font-face {
  font-family: "Roboto-Normal";
  src: url(../fonts/Roboto-Regular.ttf) format(truetype);
}

@font-face {
  font-family: "Roboto-Lighter";
  src: url(../fonts/Roboto-Light.ttf) format(truetype);
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf) format(truetype);
}

$main-color: #070718;
$secondary-color: #CD97FF;
$font-color: #212121;

$akshar: "Akshar", sans-serif;
$roboto-normal: "Roboto-Normal", sans-serif;
$roboto-lighter: "Roboto-Lighter", sans-serif;
$ubuntu: "Ubuntu", sans-serif;
